## Import Libraries

In [16]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS
import numpy as np
from matplotlib import pyplot as plt

## Import Data

Cols needed:
- ride_id
- start_station_name
- end_station_name
- start_lat
- start_lng
- end_lat
- end_lng

In [17]:
# list cols to use
use_cols = ['ride_id', 'start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng']

# import data
df = pd.read_csv('ny_data.csv',
usecols=use_cols, # import only specified columns
low_memory=False)

In [18]:
df.head(3)

,ride_id,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng
0,BFD29218AB271154,West End Ave & W 107 St,Mt Morris Park W & W 120 St,40.802117,-73.968181,40.804038,-73.945925
1,7C953F2FD7BE1302,4 Ave & 3 St,Boerum Pl\t& Pacific St,40.673746,-73.985649,40.688489,-73.991160
2,95893ABD40CED4B8,1 Ave & E 62 St,5 Ave & E 29 St,40.761227,-73.960940,40.745168,-73.986831

## Group Trips by Routes

In [19]:
# group by start station to end station and count the occururences
df_routes = df.groupby(['start_station_name', 'end_station_name'], dropna=False).size().reset_index(name='count')

In [20]:
df_routes.head()

  start_station_name  end_station_name  count
0   1 Ave & E 110 St  1 Ave & E 110 St    791
1   1 Ave & E 110 St   1 Ave & E 18 St      2
2   1 Ave & E 110 St   1 Ave & E 30 St      4
3   1 Ave & E 110 St   1 Ave & E 39 St      1
4   1 Ave & E 110 St   1 Ave & E 44 St     12

In [21]:
# check to ensure count match - i.e. the grouby worked correctly
print(df_routes['count'].sum())
print(df.shape)

29838806
(29838806, 7)

In [22]:
# rename count col to 'trips'
df_routes.rename(columns = {'count': 'trips'}, inplace = True)

## Merge Trip Count & Coordinates Dfs

#### 1. Prep coord df

**Create df with only needed cols**

In [23]:
# create df with station names & coord
df_stations = df[['start_station_name', 'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng']].reset_index(drop=True)

In [24]:
df_stations.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng
0,West End Ave & W 107 St,Mt Morris Park W & W 120 St,40.802117,-73.968181,40.804038,-73.945925
1,4 Ave & 3 St,Boerum Pl\t& Pacific St,40.673746,-73.985649,40.688489,-73.991160
2,1 Ave & E 62 St,5 Ave & E 29 St,40.761227,-73.960940,40.745168,-73.986831
3,2 Ave & E 96 St,5 Ave & E 29 St,40.783964,-73.947167,40.745168,-73.986831
4,6 Ave & W 34 St,5 Ave & E 29 St,40.749640,-73.988050,40.745168,-73.986831

**Split df into 2 - 1 for start, 1 for end**

In [25]:
## split start and end station info into separate dfs

# create df for just start station info
start_coords = df_stations[['start_station_name', 'start_lat', 'start_lng']].drop_duplicates(subset='start_station_name')

# create df for just end station info
end_coords = df_stations[['end_station_name', 'end_lat', 'end_lng']].drop_duplicates(subset='end_station_name')

In [26]:
start_coords.head(3)

        start_station_name  start_lat  start_lng
0  West End Ave & W 107 St  40.802117 -73.968181
1             4 Ave & 3 St  40.673746 -73.985649
2          1 Ave & E 62 St  40.761227 -73.960940

#### 2, Merge start station coordinates

In [27]:
# merge start coordinates
merged = pd.merge(
    df_routes,
    start_coords,
    on='start_station_name',
    how='left'
)

In [28]:
merged.head(3)
# now has the start coord info

  start_station_name  end_station_name  trips  start_lat  start_lng
0   1 Ave & E 110 St  1 Ave & E 110 St    791  40.792327   -73.9383
1   1 Ave & E 110 St   1 Ave & E 18 St      2  40.792327   -73.9383
2   1 Ave & E 110 St   1 Ave & E 30 St      4  40.792327   -73.9383

In [29]:
# merge end coordinates
merged = pd.merge(
    merged,
    end_coords,
    on='end_station_name',
    how='left'
)

In [30]:
merged.head(3)
# now has all coord info

,start_station_name,end_station_name,trips,start_lat,start_lng,end_lat,end_lng
0,1 Ave & E 110 St,1 Ave & E 110 St,791,40.792327,-73.9383,40.792327,-73.938300
1,1 Ave & E 110 St,1 Ave & E 18 St,2,40.792327,-73.9383,40.733812,-73.980544
2,1 Ave & E 110 St,1 Ave & E 30 St,4,40.792327,-73.9383,40.741444,-73.975361

In [31]:
import gc # garbage collector - speeds up performance
gc.collect()

2358

In [32]:
merged.shape

(1015140, 7)

**Investigate NaN values**

In [33]:
# show where the missing values are
merged.isna().sum()

start_station_name       1
end_station_name      1718
trips                    0
start_lat                0
start_lng                0
end_lat               1718
end_lng               1718
dtype: int64

In [34]:
# show start station missing value
merged[merged['start_station_name'].isna()]

,start_station_name,end_station_name,trips,start_lat,start_lng,end_lat,end_lng
1015139,NaN,NaN,49,40.67,-73.97,NaN,NaN

In [35]:
merged['trips'].sum()

np.int64(29838806)

In [36]:
merged['trips'].value_counts

<bound method IndexOpsMixin.value_counts of 0           791
1             2
2             4
3             1
4            12
           ...
1015135       4
1015136       1
1015137    5759
1015138      74
1015139      49
Name: trips, Length: 1015140, dtype: int64>

**Note:** The row with a missing start station also has a missing end station. The number of trips for that route is 49 which is < 0 % of the total trips and on the lower end of trip counts for a route. Due to this reason and the inability of mapping with this NaN value, this row will be removed.

*This could be a route that has since been discontinued.*

In [37]:
# show end station missing values
no_end_station = merged[merged['end_station_name'].isna()]

In [38]:
# show the trip count for all missing end station routes
no_end_station['trips'].value_counts(dropna = False)

trips
9      51
14     48
12     39
10     39
2      39
       ..
160     1
147     1
121     1
120     1
244     1
Name: count, Length: 170, dtype: int64

In [39]:
# total trips with no end station listed
no_end_station['trips'].sum()

np.int64(70092)

In [40]:
# what percent of trips have no end station listed
no_end_station['trips'].sum() / merged['trips'].sum()

np.float64(0.0023490216062934956)

**Note:** This effects 1,718 routes (.17% of all routes) and accounts for a total of 70,092 trips (.23% of all trips). While this information is useful, due to the small percentage and inablity to find missing data needed to create the map, these rows will be removed.

**Remove NaN values**

In [41]:
merged = merged.dropna()

In [42]:
merged.isna().sum()
# now all missing values are gone

start_station_name    0
end_station_name      0
trips                 0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
dtype: int64

In [43]:
# new shape info
merged.shape

(1013422, 7)

In [44]:
1015140 - 1013422
# removed 1718 rows (matches the number of coord values missing)

1718

## Export Map df

In [45]:
merged.to_csv('stationcoord_tripcount_for_map.csv')

In [46]:
# open df in https://kepler.gl to make edits, save as json and csv

In [53]:
# Note: I also exported it as an html, but this did not preserve the interactive filter

In [47]:
# import map csv
map_df = pd.read_csv('kepler.gl.csv')

In [48]:
import json

with open('kepler.gl.json') as f:
    config = json.load(f)

In [49]:
m = KeplerGl(config=config, data={"data_1": map_df})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [50]:
m

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

KeplerGl(config={'datasets': [{'version': 'v1', 'data': {'id': '-6nvmlx', 'label': 'stationcoord_tripcount_for…

In [51]:
m.save_to_html("interactive_kepler_map.html", config=config)

interactive_kepler_map.html

Exception: data type incorrect expecting a dictionary mapping from data id to value, but got <class 'str'>

**Note:** This was the error I would get if I tried it the way the lesson did it:

In [52]:
# Create KeplerGl instance
m = KeplerGl(height = 700, data={"data_1": merged})
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

C:\Users\steve\anaconda3\envs\venv_citi\Lib\site-packages\IPython\core\formatters.py:429: FormatterWarning: text/html formatter returned invalid type <class 'bytes'> (expected <class 'str'>) for object: KeplerGl(data={'data_1':             start_station_name       end_station_name  trips  start_lat  \
0             1 Ave & E 110 St       1 Ave & E 110 St    791  40.792327
1             1 Ave & E 110 St        1 Ave & E 18 St      2  40.792327
2             1 Ave & E 110 St        1 Ave & E 30 St      4  40.792327
3             1 Ave & E 110 St        1 Ave & E 39 St      1  40.792327
4             1 Ave & E 110 St        1 Ave & E 44 St     12  40.792327
...                        ...                    ...    ...        ...
1015133  Yankee Ferry Terminal     Water St & Main St      4  40.687066
1015134  Yankee Ferry Terminal  West St & Chambers St      6  40.687066
1015135  Yankee Ferry Terminal   West St & Liberty St      4  40.687066
1015136  Yankee Ferry Terminal         West Thames St      1  40.687066
1015137  Yankee Ferry Terminal  Yankee Ferry Terminal   5759  40.687066

         start_lng    end_lat    end_lng
0       -73.938300  40.792327 -73.938300
1       -73.938300  40.733812 -73.980544
2       -73.938300  40.741444 -73.975361
3       -73.938300  40.747140 -73.971130
4       -73.938300  40.750020 -73.969053
...            ...        ...        ...
1015133 -74.016756  40.703212 -73.990409
1015134 -74.016756  40.717548 -74.013221
1015135 -74.016756  40.711444 -74.014847
1015136 -74.016756  40.708347 -74.017134
1015137 -74.016756  40.687066 -74.016756

[1013422 rows x 7 columns]}, height=700)
  warnings.warn(

KeplerGl(data={'data_1':             start_station_name       end_station_name  trips  start_lat  \
0         …